*{
   padding: 0; margin: 0;
   box-sizing: border-box; 
   font-family: 'Kumbh Sans', sans-serif;
}
main{
    padding: 3em 2em 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
   }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 1.5em 1em;
    position: sticky;
    top: 1px;
    z-index:1;
    background: white;
}
.logo-and-menu{
    display: flex;
    gap: 1em;
    align-items: center;
}
.productcart-and-avatar{
    display: flex;
    align-items: center;
    gap: 2em;
}
.product-cart-count{
    position: relative;
}
.notification{
 background: red;
 width: 12px; height: 12px;
 position:absolute;
 top:0;right: 0;
 border-radius: 50%;
 color: white;
 font-size: 70%;
 padding: 7px;
 display: none;
 align-items: center;
 justify-content: center;
}
.hide-notification{
    display: flex;
}
.menu-items{
    display: flex;
    position: fixed;
    z-index: 3;
    top:0; left: 0;
    flex-direction: column;
    background: white;
    height:100vh;
    width: 0;
    overflow: auto;
    transition: 0.5s;
}
.hide{
    width:60vw;
}
.for-close{
    padding: 1em;
}
ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    padding: 0.5em 2em;
   
}
.for-avatar{
    min-width: 40px;
    height: 40px;
}
.for-avatar img{
    width: 100%;
    height: 100%;
}
.for-transparent{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 0.7;
    z-index: 2;
    top:0;left:0;right:0;bottom:0;
    display: none;
}
.remove{
 display:block;
}

.image-selection{
    display: none;
    gap: 10px;
    justify-content: center;
    padding: 0.3em 0;
}
.products-thumbnail{
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 5px;
   
}
.products-thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
section{
    padding: 0.2em;
    border-bottom: 2px solid black;
    margin-bottom: 2em;
}
.active-product{
    width: 100%;
     
}
.active-product img{
    width: 100%; height: 100%;
    border-radius: 5px 5px 0 0;
}
.product-writeup{
    padding: 01em 1em;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
}
.for-price{
    display: flex;
    justify-content: space-between;
}
.for-price>div{
    display: flex;
    gap: 0.6em;
}
.product-writeup p{
    color: hsl(219, 9%, 45%);
    
}
.plus-minus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7em;
    border-radius: 5px;
    /* background: hsl(220, 14%, 75%); */
    background:hsl(223, 64%, 98%);

}
.active-product{
    position:relative;
}
.close-image{
    display: flex;
    justify-content: flex-end;
    padding: 0 1em 0.5em;
}
.previous-next{
    position:absolute;
    padding: 0.3em;
    background: white;
    border-radius: 50%;
    height:  30px; width: 30px;
    align-items: center;
    justify-content: center;
    display: none;
}
.previous-next img{
 width: 10px ; height:10px;
}
#previous, #next{
    top: 50%;
}
#previous{
    left: 1px; 
}
#next{
    right: 1px;;
}
.click-to-update-cart{
    display: flex;
    justify-content: center;
    gap: 0.9em 0.2em;;
    padding:1em;
    border-radius: 5px;
    font-weight: 700;
}
.transparent-product{
    padding: 2em;
    position: fixed;
    top: 0;
    background: black;
    height:100vh; width: 100vw;
    place-content: center;
    gap: 10px;
    display: none;
}
.transparent-product  img{
    border-radius: 5px;
}
.transparent-product .previous-next{
    display:flex;
}
.cart-item>img{
    width: 40px;
    border-radius:3px;
}
.cart-content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0.1em;
    margin:0.1em 0.5em 1em;
    border-bottom: 3px solid hsl(26, 100%, 55%);
    border-radius: 10px;
    font-weight: 400;
    color:hsl(219, 9%, 45%);;

}
.cart-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0.4em 0;
}
.show-price{
    display: flex;
    gap: 10px;
    padding: 2px;
}
.for-checkout{
    display: flex;
    justify-content: center;
    padding: 0.6em;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    
}
.for-checkout , .click-to-update-cart{
    background:hsl(26, 100%, 55%);
    color: white;
    font-weight: 700;
    transition: 0.1s;
    cursor: pointer;
}
.for-checkout:hover{
    background: yellow;
}
.click-to-update-cart:hover{
    background: yellow;
    cursor: pointer;
    color: black;
}
.product-writeup>h6 , .discount-percent{
    color: hsl(26, 100%, 55%);
}
.discount-percent{
    padding:0.1em 0.5em;
    background:hsl(25, 100%, 94%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.original-price{
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
}
.cart{
    position: fixed;
    width: 80%;
    margin: auto;
    right: 2.5em;
    left:2em;
    top: 7em;
    bottom: 4em;
    background: white;
    border-radius: 10px;
    display: none; 
    overflow: auto;
}
.hide-cart{
    display: block;
}
.cart h4{
    padding: 1em 3em;
}
.no-product{
    display:grid;
    place-content: center;
    height: 200px;
}
.hide-no-product{
    display: none;
}
.for-checkout-container{
    display: none;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    margin-top: 2em;
    margin-top: 2em;
    padding: 2em;
}
.hide-checkout-container{
    display: flex;
}
a{
    text-decoration: none;
    color: black;
}
li{
 border-left: 2px solid hsl(26, 100%, 55%);
 padding: 0.5em;
 border-radius: 5px;
 background: hsl(25, 100%, 94%);
}
li:hover{
   background: hsl(26, 100%, 55%);
   color:white;
}
.cart>h5{
    color: green;
    text-align: center;
    padding-top: 2em;;
    opacity: 0;
    transition: 1s;
}
.checkout-total-amount{
    color: green;
}

@media screen and (min-width: 900px) {
    .menu-items{
        height: auto;
        position: static;
        width: auto;
    }
    .menu-items ul{
        display: flex;
        flex-direction: row;
        background: inherit;
    }
    .menu-items ul li{
        background: inherit;
        border: none;
    }
    li:hover{
        background:hsl(25, 100%, 94%);
    }
    .for-close{
        display: none;
    }
    .for-transparent{
        display: none;
    }
    .for-open-close{
        display: none;
    }
    section{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2em;
        padding: 2em;
        align-items: center;
    }
    main{
        padding:2em 10em;
    }
    .click-to-update-cart{
        width: 60%;
        margin: auto;
    }
}

